### Python 1 : Who is in the third place?

### Task

Create a function whose name is ```third_place``` that does the following:

Given a list of test score and a list of participants name. The desired output would be the name of the participant who gets the 3rd best score. The rule of determining the order of the best score is as follows:
- Higher score is better
- In case of multiple participants having the same test score, they can occupy the same ranking value. For example, if 2 participants scored 100, then both of them occupy the first place.

The first input of the function is the name list, and the second input to the function is the score list.

### Example 1:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa]
- score = [80, 90, 95, 100, 85]

This means, Andi gets 80, Budi gets 90, Charlie gets 95, Dilan gets 100, and Echa gets 85. The first best score is 100, and Dilan gets it. The second best score is 95, and Charlie gets it. The third best score is 90, and Budi gets it. So, our output should be Budi.

**Output**: 'The third winner: Budi'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Budi'.

### Example 2:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa]
- score = [80, 80, 80, 100, 90]

This means, Andi, Budi, and Charlie gets 80, Dilan gets 100, and Echa gets 90. The third best score is 80, and our output should list ALL of the participants who get 80.

**Output**: 'The third winner: Andi, Budi, Charlie'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Andi, Budi, Charlie'.

### Example 3:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa, Fanya]
- score = [80, 90, 90, 100, 100, 80]

The first best score (first winner) is 100 - Dilan and Echa shared this position. The second best score (second winner) is 90 - Budi and Charlie shared this position. The third best score (third winner) is 80, and it is shared by Andi and Fanya. So, our output should be Andi and Fanya.

**Output**: 'The third winner: Andi, Fanya'.

### Space for Work

In [ ]:
def third_place(names, score):
    """
    Untuk mencari third place atau score ketiga, pertama-tama names & score disimpan di dalam dictionary agar mudah.
    Dimana key nya adalah scores dan value nya adalah names.
    Lalu di cek, apakah ada nilai yang sama atau tidak. Jika ya, maka simpan value dalam key yang sama.
    Setelah itu hanya perlu mengurutkan score nya, dan pilih indeks ke-tiga (2).
    Terakhir tinggal format output sesuai contoh.
    """
    # Buat dictionary untuk menyimpan score dan nama-nama yang sesuai
    score_dict = {}
    for i, s in enumerate(score):          # enumerate untuk mendapatkan indeks (i) dan score (s)
        if s in score_dict:                # Jika ada yang score yang sama, simpan/masukkan nama (value) dalam 1 key (score) yang sama
            score_dict[s].append(names[i])
        else:
            score_dict[s] = [names[i]]     # Jika tidak, simpan key (score) baru lalu simpan nama

    # Urutkan score secara descending
    sorted_scores = sorted(score_dict.keys(), reverse=True)

    # Cari score ketiga
    third_score = sorted_scores[2]

    # Ambil nama-nama yang sesuai dengan score ketiga
    third_place_names = score_dict[third_score]

    # Format output sesuai contoh
    output = 'The third winner: ' + ', '.join(third_place_names)
    return output

In [ ]:
# Test dengan kasus contoh 1, 2, & 3
names1 = ['Andi', 'Budi', 'Charlie', 'Dilan', 'Echa']
score1 = [80, 90, 95, 100, 85]
print(third_place(names1, score1))  # Output: 'The third winner: Budi'
print("\n")

names2 = ['Andi', 'Budi', 'Charlie', 'Dilan', 'Echa']
score2 = [80, 80, 80, 100, 90]
print(third_place(names2, score2))  # Output: 'The third winner: Andi, Budi, Charlie'
print("\n")

names3 = ['Andi', 'Budi', 'Charlie', 'Dilan', 'Echa', 'Fanya']
score3 = [80, 90, 90, 100, 100, 80]
print(third_place(names3, score3))  # Output: 'The third winner: Andi, Fanya'
print("\n")

The third winner: Budi


The third winner: Andi, Budi, Charlie


The third winner: Andi, Fanya